            

<!-- ### start of the gallery definition ### -->
<div id="nanogallery2"

    data-nanogallery2 = '{
        "thumbnailWidth":   "auto",
        "thumbnailHeight":  200,
        "galleryDisplayMode": "rows",
        "galleryMaxRows": 1,
        "galleryTheme": "light",
        "allowHTMLinData": true,
        "viewerTools":     {
        "topLeft":    "label, pageCounter",
        "topRight":   "playPauseButton, zoomButton, fullscreenButton, closeButton"
      }   
        }' >
        
    <!-- gallery content -->
    {{ .Inner }}

</div>
<!-- ### end of the gallery definition ### -->
